<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex justify-content-between w-100 mx-3">
            <div class="d-flex">
                <a class="navbar-brand" href="#">
{#                    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">#}
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil<span class="sr-only visually-hidden">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if app.user is not null %}
                <a class="my-auto text-decoration-none" href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}
        </div>
    </nav>
</header>
