<h1>Attention, adresse ip invalide !</h1>
<div>
    <p>
        Un utilisateur vient de se connecter à votre compte avec une adresse IP non autorisée.
    </p>
    <p>
        Voici son adresse : {{ userIp }}
    </p>
</div>
